In [1]:
import numpy as np
import pandas as pd
from time import time
from sklearn.cluster import KMeans
from pandas.computation import expressions as expr
import pprint as pp

In [2]:
# set configure
path = "./CDR_CONCAT/"
filename = "CDR_CONCAT_TABLE_4"
relative_filename = path + filename + ".csv"
# out_filename = "mds_mly_minus20160901"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 1
n_clusters = 8

In [3]:
# read revise csv file and print cost time
# just load 5 data 
t0 = time()
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 4.07

In [12]:
# df = df[['mo_workday_time','mo_holiday_time','mt_workday_time','mt_holiday_time']]
df = df.drop('MINING_DW_SUBSCR_NO', 1)
# df = df[['mo_workday_cnt','mo_workday_time','mo_holiday_cnt','mo_holiday_time', 'mt_workday_cnt','mt_workday_time','mt_holiday_cnt','mt_holiday_time']]

In [13]:
df.head()

,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,VOICE_MO_HOUR_9_CNT,...,VOICE_MT_FRI_TIME,VOICE_MT_SAT_TIME,VOICE_MT_workday_cnt,VOICE_MT_workday_cnt_avg,VOICE_MT_workday_time,VOICE_MT_workday_time_avg,VOICE_MT_holiday_cnt,VOICE_MT_holiday_cnt_avg,VOICE_MT_holiday_time,VOICE_MT_holiday_time_avg
0,0,0,0,0,0,0,0,0,2,0,...,609,358,91,18.2,3420,684.0,30,15.0,1055,527.5
1,0,0,0,0,0,0,0,0,2,0,...,15,508,18,3.6,3035,607.0,8,4.0,657,328.5
2,0,0,0,0,0,0,0,0,0,1,...,0,16,0,0.0,0,0.0,1,0.5,16,8.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.2,10,2.0,0,0.0,0,0.0
4,0,0,0,0,0,0,0,2,0,0,...,1535,2356,147,29.4,6742,1348.4,92,46.0,3867,1933.5

In [14]:
len(df)

436671

In [55]:
df[df.columns[numeric_st_idx:]]

        mo_holiday_time  mt_workday_time  mt_holiday_time
0                   453             1421              154
1                  1700            10633             1839
2                  1805              628              544
3                  1404             1172              769
4                   842             2731              490
5                   628             2531              221
6                  1571             2759              941
7                   427             3420             1055
8                   860              970             4702
9                  1315              443               64
10                 1455                0               60
11                  275              955              361
12                  594             2379             3390
13                    0              375                0
14                 2286              484              385
15                 1479             8628             1254
16                  527              848              181
17                  389             3673              664
18                  457             2589              964
19                  747              134             1473
20                   14             1007              198
21                26833             2677              185
22                  150              107              252
23                 2061             5691             2038
24                  550             1977              637
25                   46               46              844
26                   85              151              279
27                 2405              561              644
28                  204            11600             1012
29                  349             3035              657
...                 ...              ...              ...
469593             1830              226              196
469594               24             1584             1588
469595             1053              197              504
469596              504             1105              243
469597              307             3332               65
469598              863              517              197
469599              870             3221              596
469600             1989              144              439
469601              312             1861              690
469602              404              484              334
469603             1314              322              185
469604             1082             4210             2629
469605              137              280                0
469606              820              635               17
469607             5721             3168             2077
469608             1864               39                0
469609             1936             5476             2241
469610              114             2171              333
469611              273              893              433
469612              397              627              224
469613              127              440              178
469614                0              522              138
469615             2098              489               67
469616                0             1754             1656
469617               15               74                0
469618             1095             1079              270
469619             1968              565              160
469620              535             4929              768
469621              755             3190             1003
469622              422             1499             1604

[469623 rows x 3 columns]

In [19]:
kmeans.inertia_

92309644479286.203

In [17]:
t0 = time()
# kmeans = KMeans(n_clusters=n_clusters, max_iter = 3000).fit(df.values)
kmeans = KMeans(n_clusters=n_clusters).fit(df[df.columns[numeric_st_idx:]])
print("time for k mean csv: %.2f " % (time()-t0))

time for k mean csv: 72.81

In [53]:
cluster_result = {}
for i in range(n_clusters):
    cluster_result[i] = 0

for l in kmeans.labels_:
    cluster_result[l] += 1
pp.pprint(cluster_result)

{0: 1843, 1: 39445, 2: 100, 3: 178, 4: 412022, 5: 15677, 6: 16, 7: 342}

In [9]:
type(kmeans.cluster_centers_)

numpy.ndarray

In [30]:
df.iloc[1][numeric_st_idx:]

VOICE_MO_HOUR_0_CNT           0
VOICE_MO_HOUR_1_CNT           0
VOICE_MO_HOUR_2_CNT           0
VOICE_MO_HOUR_3_CNT           0
VOICE_MO_HOUR_4_CNT           0
VOICE_MO_HOUR_5_CNT           0
VOICE_MO_HOUR_6_CNT           0
VOICE_MO_HOUR_7_CNT           0
VOICE_MO_HOUR_8_CNT           2
VOICE_MO_HOUR_9_CNT           0
VOICE_MO_HOUR_10_CNT          1
VOICE_MO_HOUR_11_CNT          1
VOICE_MO_HOUR_12_CNT          2
VOICE_MO_HOUR_13_CNT          0
VOICE_MO_HOUR_14_CNT          0
VOICE_MO_HOUR_15_CNT          0
VOICE_MO_HOUR_16_CNT          1
VOICE_MO_HOUR_17_CNT          0
VOICE_MO_HOUR_18_CNT          1
VOICE_MO_HOUR_19_CNT          1
VOICE_MO_HOUR_20_CNT          0
VOICE_MO_HOUR_21_CNT          0
VOICE_MO_HOUR_22_CNT          0
VOICE_MO_HOUR_23_CNT          0
VOICE_MO_HOUR_0_TIME          0
VOICE_MO_HOUR_1_TIME          0
VOICE_MO_HOUR_2_TIME          0
VOICE_MO_HOUR_3_TIME          0
VOICE_MO_HOUR_4_TIME          0
VOICE_MO_HOUR_5_TIME          0
                          ...
VOICE_MO_HOUR_MON_TIME      534
VOICE_MO_HOUR_TUE_TIME      109
VOICE_MO_HOUR_WED_TIME      110
VOICE_MO_HOUR_THU_TIME      178
VOICE_MO_HOUR_FRI_TIME     1606
VOICE_MO_HOUR_SAT_TIME      906
workday_cnt                  32
workday_time               2537
holiday_cnt                  23
holiday_time               1700
Unnamed: 0.1                  1
MINING_DW_SUBSCR_NO.3      1179
VOICE_MT_SUN_CNT             10
VOICE_MT_MON_CNT             20
VOICE_MT_TUE_CNT             10
VOICE_MT_WED_CNT             13
VOICE_MT_THU_CNT             16
VOICE_MT_FRI_CNT             17
VOICE_MT_SAT_CNT             15
VOICE_MT_SUN_TIME           406
VOICE_MT_MON_TIME          1869
VOICE_MT_TUE_TIME           427
VOICE_MT_WED_TIME           595
VOICE_MT_THU_TIME          1711
VOICE_MT_FRI_TIME          6031
VOICE_MT_SAT_TIME          1433
workday_cnt.1                76
workday_time.1            10633
holiday_cnt.1                25
holiday_time.1             1839
Name: 1, Length: 137, dtype: int64

In [31]:
print(kmeans.predict(df.iloc[1][numeric_st_idx:]))

[2]

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [58]:
df['label'] = kmeans.labels_

In [77]:
test_df = df.groupby('label')
test_df.mean()
# for index, row in test_df.iterrows():
#     print(index, row.values)
# for g in test_df.mean():
#     print(g)

       mo_workday_time  mo_holiday_time  mt_workday_time  mt_holiday_time
label
0          2862.274552      1030.310906     68083.004883     20646.109604
1          2314.341691       893.748384     15759.746660      4204.726784
2        604196.850000    225031.610000      4641.130000      1197.040000
3          3340.668539      1397.735955    351295.955056    138887.500000
4          1936.312707       786.072884      1851.155659       702.345693
5         27429.737641      8267.300504      2892.365376       976.863239
6          3142.250000      1059.937500    999946.562500    387671.500000
7        203711.973684     73504.789474      3811.228070      1233.008772

In [9]:
del dask_df

In [8]:
del df