In [18]:
# coding: utf-8
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import sys
import plotly.plotly as py

In [19]:
# py.offline.init_notebook_mode()
output_path = "./CDR_CONCAT_ANALYZE_GRAPH/"

# path = "./CDR_ANALYZE/"
path = "C:/Users/VIPLAB/Desktop/XIAO SEAN/"
filename = "DNA_VOICE_revise.csv"
# opt = "VOICE"
opt = "DNA"

# filename = sys.argv[1]

In [20]:
df_src = pd.read_csv(path + filename, error_bad_lines = False)

In [21]:
df_src.head()

,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,VOICE_HOUR_9_TIME,...,DNA_HOUR_15_COUNT,DNA_HOUR_16_COUNT,DNA_HOUR_17_COUNT,DNA_HOUR_18_COUNT,DNA_HOUR_19_COUNT,DNA_HOUR_20_COUNT,DNA_HOUR_21_COUNT,DNA_HOUR_22_COUNT,DNA_HOUR_23_COUNT,groups
0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.005,0.001,0.030,...,0.028,0.100,0.062,0.035,0.039,0.035,0.037,0.053,0.037,3
1,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.605,0.026,0.000,0.000,0.000,0.000,0.000,15
2,0.0,0.0,0.0,0.0,0.0,0.003,0.007,0.001,0.018,0.111,...,0.033,0.069,0.049,0.101,0.056,0.102,0.094,0.128,0.084,3
3,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.054,0.030,0.004,0.010,0.012,0.048,0.074,0.000,0.036,13
4,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2

In [22]:
groups_name = [i for i in range(1, 18)]
# groups_name = ['1', '2', '3', '4', '5', '6', '7', '8', 'seldom', 'None']
# groups_name = ['1', '2', '3', '4', '5', '6', '7', '8']

Ks = [6, 5, 5, 5, 5, 5, 5, 5]
# Ks = [8, 7, 6, 7, 5, 6, 6, 8, 7, 7]


date = "0706_v1"
# df_src['Groups'] = df_group['Groups']

# for K in range(7, 10):
# 	for group in groups_name:
# group = groups_name[i]
group = "Groups"

# df = df_src[df_src['groups'] == group]
# group = filename[15:-4]

In [23]:
# wants_cols = [x for x in  df_src.columns if "DNA" ]
wants_cols = [x for x in  df_src.columns if opt in x ]

In [24]:
df = df_src[wants_cols]

In [25]:
df.head()

,DNA_HOUR_0_COUNT,DNA_HOUR_1_COUNT,DNA_HOUR_2_COUNT,DNA_HOUR_3_COUNT,DNA_HOUR_4_COUNT,DNA_HOUR_5_COUNT,DNA_HOUR_6_COUNT,DNA_HOUR_7_COUNT,DNA_HOUR_8_COUNT,DNA_HOUR_9_COUNT,...,DNA_HOUR_14_COUNT,DNA_HOUR_15_COUNT,DNA_HOUR_16_COUNT,DNA_HOUR_17_COUNT,DNA_HOUR_18_COUNT,DNA_HOUR_19_COUNT,DNA_HOUR_20_COUNT,DNA_HOUR_21_COUNT,DNA_HOUR_22_COUNT,DNA_HOUR_23_COUNT
0,0.020,0.003,0.002,0.003,0.014,0.012,0.014,0.088,0.095,0.061,...,0.029,0.028,0.100,0.062,0.035,0.039,0.035,0.037,0.053,0.037
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.605,0.026,0.000,0.000,0.000,0.000,0.000
2,0.032,0.009,0.002,0.000,0.004,0.000,0.023,0.022,0.014,0.019,...,0.023,0.033,0.069,0.049,0.101,0.056,0.102,0.094,0.128,0.084
3,0.211,0.038,0.000,0.000,0.000,0.000,0.008,0.006,0.008,0.004,...,0.046,0.054,0.030,0.004,0.010,0.012,0.048,0.074,0.000,0.036
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [26]:
sum(df.loc[2])

0.999

In [27]:
df.loc[0]

DNA_HOUR_0_COUNT     0.020
DNA_HOUR_1_COUNT     0.003
DNA_HOUR_2_COUNT     0.002
DNA_HOUR_3_COUNT     0.003
DNA_HOUR_4_COUNT     0.014
DNA_HOUR_5_COUNT     0.012
DNA_HOUR_6_COUNT     0.014
DNA_HOUR_7_COUNT     0.088
DNA_HOUR_8_COUNT     0.095
DNA_HOUR_9_COUNT     0.061
DNA_HOUR_10_COUNT    0.060
DNA_HOUR_11_COUNT    0.041
DNA_HOUR_12_COUNT    0.048
DNA_HOUR_13_COUNT    0.085
DNA_HOUR_14_COUNT    0.029
DNA_HOUR_15_COUNT    0.028
DNA_HOUR_16_COUNT    0.100
DNA_HOUR_17_COUNT    0.062
DNA_HOUR_18_COUNT    0.035
DNA_HOUR_19_COUNT    0.039
DNA_HOUR_20_COUNT    0.035
DNA_HOUR_21_COUNT    0.037
DNA_HOUR_22_COUNT    0.053
DNA_HOUR_23_COUNT    0.037
Name: 0, dtype: float64

In [28]:
wants_cols.append("groups")
wants_cols

['DNA_HOUR_0_COUNT',
 'DNA_HOUR_1_COUNT',
 'DNA_HOUR_2_COUNT',
 'DNA_HOUR_3_COUNT',
 'DNA_HOUR_4_COUNT',
 'DNA_HOUR_5_COUNT',
 'DNA_HOUR_6_COUNT',
 'DNA_HOUR_7_COUNT',
 'DNA_HOUR_8_COUNT',
 'DNA_HOUR_9_COUNT',
 'DNA_HOUR_10_COUNT',
 'DNA_HOUR_11_COUNT',
 'DNA_HOUR_12_COUNT',
 'DNA_HOUR_13_COUNT',
 'DNA_HOUR_14_COUNT',
 'DNA_HOUR_15_COUNT',
 'DNA_HOUR_16_COUNT',
 'DNA_HOUR_17_COUNT',
 'DNA_HOUR_18_COUNT',
 'DNA_HOUR_19_COUNT',
 'DNA_HOUR_20_COUNT',
 'DNA_HOUR_21_COUNT',
 'DNA_HOUR_22_COUNT',
 'DNA_HOUR_23_COUNT',
 'groups']

In [29]:
df = df_src[wants_cols]

In [30]:
df.head()

,DNA_HOUR_0_COUNT,DNA_HOUR_1_COUNT,DNA_HOUR_2_COUNT,DNA_HOUR_3_COUNT,DNA_HOUR_4_COUNT,DNA_HOUR_5_COUNT,DNA_HOUR_6_COUNT,DNA_HOUR_7_COUNT,DNA_HOUR_8_COUNT,DNA_HOUR_9_COUNT,...,DNA_HOUR_15_COUNT,DNA_HOUR_16_COUNT,DNA_HOUR_17_COUNT,DNA_HOUR_18_COUNT,DNA_HOUR_19_COUNT,DNA_HOUR_20_COUNT,DNA_HOUR_21_COUNT,DNA_HOUR_22_COUNT,DNA_HOUR_23_COUNT,groups
0,0.020,0.003,0.002,0.003,0.014,0.012,0.014,0.088,0.095,0.061,...,0.028,0.100,0.062,0.035,0.039,0.035,0.037,0.053,0.037,3
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.605,0.026,0.000,0.000,0.000,0.000,0.000,15
2,0.032,0.009,0.002,0.000,0.004,0.000,0.023,0.022,0.014,0.019,...,0.033,0.069,0.049,0.101,0.056,0.102,0.094,0.128,0.084,3
3,0.211,0.038,0.000,0.000,0.000,0.000,0.008,0.006,0.008,0.004,...,0.054,0.030,0.004,0.010,0.012,0.048,0.074,0.000,0.036,13
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2

In [15]:
grouped = df.groupby('groups')

# df['label'] = labels_
# grouped = df.drop(['MINING_DW_SUBSCR_NO'], 1).groupby('groups')
# grouped = df.groupby('label')

In [16]:
# get count
group_count = grouped[df.columns[1]].count().values
# df = df.drop('MINING_DW_SUBSCR_NO', 1)

In [31]:
group_mean = grouped.mean()

In [ ]:
# get mean
# group_mean = grouped.mean() / 2

In [32]:
y_list = []
for index, value in enumerate(group_count):
	y_list.append("G%d : %s" % (index, value))

In [37]:
df.iloc[i][:-1].values

array([ 0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
        0.   ,  0.   ,  0.263,  0.053,  0.026,  0.026,  0.   ,  0.   ,
        0.   ,  0.605,  0.026,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ])

In [41]:
# Create a trace
# data = []
# for i in range(1, 18):
#     trace = go.Scatter(
#         x = df.columns[:-1],
#         y = df.iloc[i][:-1].values
#     )
#     # data = [trace]
#     data.append(trace)
trace = go.Scatter(
    x = df.columns[:-1],
    y = df.iloc[0][:-1].values
)
data = [trace]
# data.append(trace)
title = ("Group %s" % (group))
layout = go.Layout(title = title)

fig = go.Figure(data = data, layout = layout)
output_filename = ("%s_%s_line_%s.html" % (filename[:-4], date, opt))
# py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000)
py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000, auto_open = False)

Aw, snap! We don't have an account for ''. Want to try again? You can authenticate with your email address or username. Sign in is not case sensitive.

Don't have an account? plot.ly

Questions? support@plot.ly

''

In [161]:
trace = go.Heatmap(
	# x = list(map(lambda x: " " + str(x + 1), range(K))),
	# z = np.delete(group_mean.values, 0, 1),
	z = group_mean.values / 5,
	x = df.columns[1:-1],
	# y = list(map(lambda x: "G%s " + str(x), group_count)),
	y = y_list,
	colorscale = 'Jet'
)

data = [trace]

title = ("Group %s" % (group))
layout = go.Layout(title = title)

fig = go.Figure(data = data, layout = layout)
output_filename = ("%s_%s_heat_%s.html" % (filename[:-4], date, opt))
# py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000)
py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000, auto_open = False)

'file://C:\\Users\\VIPLAB\\Desktop\\preprocess_py\\CDR_CONCAT_ANALYZE_GRAPH\\DNA_VOICE_revise_0706_v1_heat_DNA.html'

In [101]:
# for i in range(8):
# 	K = Ks[i]
# 	group = groups_name[i]
# 	df = df_src[df_src['groups'] == group]
# 	# group = filename[15:-4]

# 	label_path = "./kmean_label/"
# 	label_name = "label_K" + str(K) + "_de_with_kid_" + group + "_" + date + ".npy"
# 	labels_ = np.load(label_path + label_name)

# 	# df.loc['label',list(map(str, df.index))] = labels_
# 	print(group)
# 	df['label'] = labels_
# 	grouped = df.drop(['MINING_DW_SUBSCR_NO', 'Groups'], 1).groupby('label')
# 	# grouped = df.groupby('label')

# 	# get count
# 	group_count = grouped[df.columns[1]].count().values
# 	# df = df.drop('MINING_DW_SUBSCR_NO', 1)	

# 	# get mean
# 	group_mean = grouped.mean()

# 	trace = go.Heatmap(
# 		# x = list(map(lambda x: " " + str(x + 1), range(K))),
# 		# z = np.delete(group_mean.values, 0, 1),
# 		z = group_mean.values,
# 		x = df.columns[1:-1],
# 		y = list(map(lambda x: "G " + str(x), group_count)),
# 		colorscale = 'Jet'
# 	)

# 	data = [trace]

# 	title = ("Group %s" % (group))
# 	layout = go.Layout(title = title)

# 	fig = go.Figure(data = data, layout = layout)
# 	output_filename = ("%s_K%d_G%s_%s_heat.html" % (filename[:-4], K, group, date))
# 	# py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000)
# 	py.plot(fig, filename = output_path + output_filename, image_height = 6000, image_width = 8000, auto_open = False)